{% extends "base.html.j2" %}
{% block title %}
    Nke web interface
{% endblock %}
{% block body %}
    <p>
        <h3 class="margin">Projeto sem fins lucrativos</h3>
            Este site foi desenvolvido como trabalho da disciplica SO<br />
            ministrada pelo professor Celso Maciel na UERGS<br /> 
    </p>
{% endblock %}
